<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{rb.login_title}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">{{rb.login_close}}</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <div class="item" ng-show="loginError">
            <button class="button button-outline button-assertive">
                {{loginError}}
            </button>
        </div>
        <label class="item item-input">
          <span class="input-label">{{rb.login_username}}</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">{{rb.login_password}}</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">{{rb.login_login_button}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
