<ion-view  class="udlapp-background" view-title="<i class='icon ion-calendar'></i> {{rb.ag_activity_title}}" ng-init="initActivityEvent()">
    <ion-content>
        <div class="list card">
            <div class="activityListItem item udlapp-item item-thumbnail-left small">
                <img src="{{currentActivity.image}}">  
                <p class="title">{{currentActivity.title}}</p>
                <p class="secondaryInfo"><i class="icon ion-pin"></i>  {{currentActivity.location}}</p>
                <p class="secondaryInfo"><i class="icon ion-calendar"></i>  {{currentActivity.period}}</p>
            </div>
            
            <div class="item item-body">
                <div ng-bind-html="currentActivity.content"></div>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a href="#" class="tab-item" ng-click="openExternalURL(currentActivity.eventURL)"><i class="icon ion-forward"></i> {{rb.ag_view_in_web}} </a>

                <a class="tab-item" href="#"  ng-click="shareExternalURL(currentActivity.eventURL)">
                    <i class="icon ion-share"></i>
                    {{rb.ag_agenda_share}}
                </a>
            </div>
        </div>    
    </ion-content>
</ion-view>
