<ion-view class="udlapp-background" ng-init="initList()" >
    <ion-content>
        <ion-refresher
                       pulling-text="{{pullText}}"
                       on-refresh="refreshItems()">
        </ion-refresher>

        <div>

            <div class="activitiesSeparator"> <i class="icon ion-ribbon-b"></i> Activitats</div>
            
            <ion-list>
                <a class="eventListItem item udlapp-item item-thumbnail-left" ng-repeat="event in eventsList | limitTo: !fullEvents ? 2 : eventsList.length" href="#/app/activityevents/{{event._id}}">
                    <img  src="{{event.image}}" />  
                    <p class="title">{{event.title}}</p>
                    <p class="secondaryInformation"> <i class="icon ion-pin"></i> {{event.location}}</p>
                    <p class="otherInformation">  <i class="icon ion-calendar"></i> {{event.period}}</p>
                </a>
            </ion-list>
        </div>

        <div class="calendarSeparator"> <i class="icon ion-calendar"></i> Agenda</div>


        <div>
            <div ng-hide="emptyList()" >
                <ion-list can-swipe="true" show-delete="false" ng-repeat="(key, value) in agendaList | groupBy: 'eventDayStamp'  | orderBy: 'eventDayStamp' : false " class="calendarList"> 

                    <div ng-show="value[0]" class="dateText btn_{{value[0].numDayOfWeek}}">
                        <span class="icon ion-stop"></span>
                        <span class="dayOfWeek">{{value[0].dayOfWeek}}</span> <span class="dayMonth">{{value[0].dayMonth}}</span> 
                    </div>

                    <ion-item  class="item udlapp-item item-complex agendaItem btn_{{value[0].numDayOfWeek}} item-thumbnail-right" ng-repeat="agendaItem in value | orderBy: 'hour'  : false" href="#/app/agendaevents/{{agendaItem._id}}">
                        <div class="agendaItemDescription">
                            <p class="title">{{agendaItem.title}}</p>
                            <p class="secondaryInformation"><i class="icon ion-pin"></i> {{agendaItem.location}}</p>
                            <p class="secondaryInformation"><i class="icon ion-clock"></i> {{agendaItem.hour}}</p>
                        </div>

                    </ion-item>

                </ion-list>
            </div>
            <div ng-show="emptyList()" class="udlapp-emptymessages">
                <p><i class="ion-archive" ></i><br />
                    <span>{{rb.ms_list_nomessages}}</span>
                </p>
            </div>
        </div>
    </ion-content> 
</ion-view>


