<ion-view  class="udlapp-background" view-title="Agenda Event" ng-init="initEvent()">
  <ion-content>
   <div class="list card">
        <div class="item">
            <h2>{{currentEvent.title}}</h2>
            <p>{{currentEvent.date}}</p>
        </div>
       <div class="item item-body">
            <img class="full-image" ng-src="{{currentEvent.imgSrc}}">
            <p>{{currentEvent.description}}</p>
           <p>
               <a href="#" class="subdued">1 Like</a>
               <a href="#" class="subdued">5 Comments</a>
           </p>
       </div>
       <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>
              Like
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
        </div>
      </div>    
  </ion-content>
</ion-view>
