@media (max-width: 400px) {
    .activityListItem.item-thumbnail-left > img:first-child{
        max-width: 80px;   
    }

    .activityListItem.item-thumbnail-left{
        padding-left: 100px;
    }
    

}
@media (min-width: 400px) {
    .activityListItem.item-thumbnail-left > img:first-child{
        max-width: 135px;   
    }

    .activityListItem.item-thumbnail-left{
        padding-left: 153px;
    }
}
.eventItem .caption a{
    text-decoration: inherit;
    color:inherit;
}


.agendaEvent.bar-header{
    padding-bottom: 1em;
}

.activityListItem.small.item-thumbnail-left > img:first-child{
    max-width: 80px;   
}

.activityListItem.small.item-thumbnail-left{
    padding-left: 100px;
}

.allEvents{
    position: relative;
    top: 3px;
    right: 3px;
}

.calendarSeparator, .activitiesSeparator{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    padding-left: 0.5em;
    color: #830051;
}

.date {
    width: 60px; 
    height: 60px; 
    background: #fcfcfc; 
    background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
    border: 1px solid #d2d2d2;
    border-radius: 40px;
    font-size: 0.8em; 
    text-align: center; 
    color: #9e9e9e;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    margin-top: -35px;
    right: 15px;
    z-index: 3;
}

.udlapp .date.udlapp-date-av{
    position: absolute;
    text-align: center;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: none;
    border-radius: 40px;
    text-align: center;
    color: #FAFAFA;
    left: 10px;
    top: 10px;
    margin-top: 0px;
    z-index: 3;   
    
}

.udlapp .date.udlapp-date-av.btn_0 {
    background:  #009688;
}
.udlapp .date.udlapp-date-av.btn_1 {
    background:  #ff9800;
    color: #222;
}
.udlapp .date.udlapp-date-av.btn_2{
    background: #4caf50;
}
.udlapp .date.udlapp-date-av.btn_3{
    background: #03a9f4;
}
.udlapp .date.udlapp-date-av.btn_4 {
    background:  #cddc39;
    color: #222;
}
.udlapp .date.udlapp-date-av.btn_5{
    background: #ffeb3b;
    color: #222;
}
.udlapp .date.udlapp-date-av.btn_6{
    background: #9c27b0;
}
.udlapp .date.udlapp-date-av.btn_7 {
    background:  #e91e63;
}



.agendaItem.btn_0 .item-content{
    border-color:  #009688;
}
.agendaItem.btn_1 .item-content{
    border-color:  #ff9800;
    color: #222;
}
.agendaItem.btn_2 .item-content{
    border-color: #4caf50;
}
.agendaItem.btn_3 .item-content{
    border-color: #03a9f4;
}
.agendaItem.btn_4 .item-content{
    border-color:  #cddc39;
    color: #222;
}
.agendaItem.btn_5 .item-content{
    border-color: #ffeb3b;
    color: #222;
}
.agendaItem.btn_6 .item-content{
    border-color: #9c27b0;
}
.agendaItem.btn_7 .item-content{
    border-color:  #e91e63;
}

.date.left{
    left: 15px;
    margin-top:3px;
}
.eventInfo {
    padding-left: 70px;   
}

.date .dayOfWeek {
    position: absolute;
    bottom: 30px;
    width: 50px;
    left: 5px;
    height: 17px;
    display: block;
    text-overflow: ellipsis;
    overflow: overlay;
}

.date .dayMonth {
    position: absolute;
    height: 30px;
    width:60px;
    display: block;
    bottom: 0px;
    background: #830051; 
    font-size: 1em; 
    font-weight: bold; 
    text-transform: uppercase; 	
    border-radius: 0px 0px 40px 40px;

}

.date.udlapp-date-av .dayMonth{
    background: none;   
}

.dateText {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 3px;
    white-space: nowrap;
}

.dateText.btn_1 span{
    color:  #ff9800;
    
}

.dateText.btn_2 span{
    color:   #4caf50;
}

.dateText.btn_3 span{
    color:   #03a9f4;
}

.dateText.btn_4 span{
    color:   #cddc39;
}

.dateText.btn_5 span{
    color:   #4caf50;
}

.dateText.btn_6 span{
    color:  #ffeb3b;
}

.dateText.btn_7 span{
    color:    #e91e63;
}

.calendarList{
    top: -15px;
    position: relative;   
}

.calendarList > .list{
    padding-top: 20px;
}

.udlapp-item.agendaItem{
    padding: 0px;
    border-top-width: 2px
}

.agendaItem .item-content{
    border-width: 0px 0px 0px 5px;
    border-color: #830051;
    border-style: solid;
    padding: 0px;
}

.agendaItem .agendaItemDescription{
    padding-top:10px;
    padding-left: 10px;
}

.udlapp .udlapp-emptylist{
    width: 100%;
    position: absolute;
    top: 60px;
    ï¿¼    font-size: 1.5em;
    text-align: center;
}

.udlapp .udlapp-emptylist p{
    width:100%;
    text-align: center;
    color: #D5D1D3;
}

.udlapp .udlapp-emptylist p i{
    font-size: 2.5em;
}

.udlapp .udlapp-emptylist p span{
    font-size: 1.5em;
}



