@media (max-width: 500px) {

    .eventItem{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .eventItem img{
        width: 100%;
        height: auto;

    }

    .eventItem .caption h3{
        color: #830051;
        font-size: 1.2em;
    }

    .eventItem .caption p{
        color: #111;
        font-size: 1em;
    }

    .eventItem .caption{
        position: absolute;
        float:left;
        bottom: 0.38em;
        width: 100%;
        color: #FFF;
        background-color: #FEFEFE;
        opacity: 0.85;
        padding: 3px;

    }

    .eventItem .description {
        display: none;
    }

}

@media (min-width: 500px) {

    .eventItem{
        width: 98%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        display: block;
    }

    .eventItem img{
        width: 35%;
        height: auto;
        display: inline-block;
        vertical-align: top;
        margin-top: 1em;
    }


    .eventItem .caption{
        display: inline-block;
        padding: 0.5em;

    }

    .eventItem .caption h3{
        color: #111;
        font-size: 1.3em;
    }

    .eventItem .content{
        display: inline-block;
        width: 60%;
        padding: 1em;
    }
}

.eventItem .caption a{
    text-decoration: inherit;
    color:inherit;
}



.agendaEvent.bar-header{
    padding-bottom: 1em;
}


.eventListItem.item-thumbnail-left > img:first-child{
    max-width: 135px;   
}

.eventListItem.item-thumbnail-left{
    padding-left: 153px;
}

.allEvents{
    position: relative;
    top: 3px;
    right: 3px;
}
.calendarSeparator, .activitiesSeparator{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    padding-left: 0.5em;
    color: #830051;
}
.calendarList{
    top: -40px;
    position: relative;   
}
.calendarList > .list{
    padding-top: 38px;
}
.date {
    width: 60px; 
    height: 60px; 
    background: #fcfcfc; 
    background: linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
    background: -moz-linear-gradient(top, #fcfcfc 0%, #dad8d8 100%); 
    background: -webkit-linear-gradient(top, #fcfcfc 0%,#dad8d8 100%); 
    border: 1px solid #d2d2d2;
    border-radius: 40px;
    font-size: 0.8em; 
    text-align: center; 
    color: #9e9e9e;
    text-align: center;
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    margin-top: -35px;
    right: 15px;
    z-index: 3;
}
.date.left{
    left: 15px;
    margin-top:3px;
}
.eventInfo {
    padding-left: 70px;   
}

.date .dayOfWeek {
    position: absolute;
    bottom: 30px;
    width: 50px;
    left: 5px;
    height: 17px;
    display: block;
    text-overflow: ellipsis;
    overflow: overlay;
}

.date .dayMonth {
    position: absolute;
    height: 30px;
    width:60px;
    display: block;
    bottom: 0px;
    background: #830051; 
    font-size: 1em; font-weight: bold; color: #fff; text-transform: uppercase; 	
    border-radius: 0px 0px 40px 40px;

}

.agendaItem.item-complex .item-content{
    border-width: 0px 0px 0px 5px;
    border-color: #830051;
    border-style: solid;
}