<ion-view class="udlapp-background" view-title="<i class='icon ion-android-mail'></i> Message" ng-init="initMessage()">
 
  <ion-content>
   <div class="list card">
       <div class="item item udlapp-item item-avatar">
           <div class="udlapp-category-av udlapp-category-av-cv {{buttonClassNumber(currentMessage.sitename)}}"><span>{{currentMessage.sitename.substr(0,1)}}</span></div>
           <h3>{{currentMessage.sitename}}</h3>
           <p>{{currentMessage.date | amDateFormat:'dddd, MMMM Do YYYY, HH:mm'}}</p>
           <p>{{currentMessage.author}}</p>
       </div>
       <div class="item item-body">
           <h2>{{currentMessage.subject}}</h2>
           <p ng-bind-html="currentMessage.body" />
           <p> Per llegir el missatge complet obre'l al <a href="" ng-click="openExternalURL(currentMessage.url)"
               > Campus Virtual</a></p> 
           
       </div>
       <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#/app/messages" ng-click="deleteMessage(currentMessage.id)">
              <i class="icon ion-trash-b"></i>
              Delete
            </a>
            <a class="tab-item" href="#/app/messages" ng-click="markAs(currentMessage.id,'unread')">
              <i class="icon ion-eye-disabled"></i>
              Mark as unread
            </a>
        </div>
      </div>      
  </ion-content>
</ion-view>
