<ion-view class="udlapp-background" ng-init="initList()" >
        <ion-nav-title>
            <i class='icon ion-android-mail'></i> {{rb.ms_list_title}}
        </ion-nav-title> 

   <ion-content>
    <ion-refresher
    pulling-text="{{pullText}}..."
    refreshing-text="{{rb.ctrl_message_initializing}}..."
    on-refresh="refreshMessages(false)">
  </ion-refresher>
    
    <div ng-hide="emptyList()" >
        <ion-list can-swipe="true" show-delete="false" ng-repeat="(key, value) in messagesList | groupBy: 'prettyDateOrder'" > 

            <div ng-show="value[0]" class="item item-divider">
                <h2>{{rb[value[0].prettyDateFormat]}}</h2>
            </div>

            <ion-item on-hold="openOptions(message)" ng-hide="message.hide" class="item udlapp-item item-avatar" ng-repeat="message in value | orderBy: 'date':true" href="#/app/messages/{{message.id}}">

             <div class="udlapp-category-av udlapp-category-av-cv {{buttonClassNumber(message.sitename)}}"><span>{{message.sitename.substr(0,1)}}</span></div>
              <h2 class="{{message.state}}">{{message.subject}}</h2>
              <p>{{message.sitename}}</p>
                <p>{{message.date | date: rb.ms_list_item_dateformat}}</p>

                <ion-option-button ng-click="deleteMessage(message)" class="button-assertive" >
                    <div class="udlapp-inlist-message-option"><i class="ion-trash-b"></i></div>
                </ion-option-button>       
               <ion-option-button ng-if="message.state != 'read'" ng-click="markAs(message,'read')" class="button-balanced" >
                    <div class="udlapp-inlist-message-option"><i class="ion-eye"></i></div>
               </ion-option-button>
                <ion-option-button ng-if="message.state == 'read'" ng-click="markAs(message,'unread')" class="button-energized" >
                    <div class="udlapp-inlist-message-option"><i class="ion-eye-disabled"></i></div>
               </ion-option-button>
            </ion-item>

        </ion-list>
    </div>
    <div ng-show="emptyList()" class="udlapp-emptymessages">
        <p><i class="ion-archive" ></i><br />
        <span>{{rb.ms_list_nomessages}}</span>
        </p>
    </div>
  </ion-content>
  <div class="bar bar-footer bar-stable udlapp-undobar {{undoAnimated}}" ng-show="undoMessage && undoMessage.show" ng-click="applyUndo()">
    <button class="button button-energized" ><i class="ion-arrow-return-left"></i> {{rb.ms_list_undo}}</button>
</div>
</ion-view>
