<ion-view class="udlapp-background" view-title=" " ng-init="initMessage()">
    <ion-nav-title>
        <i class='icon ion-android-mail'></i> {{rb.ms_view_title}}
    </ion-nav-title> 
  <ion-content>
   <div class="list card">
       <div class="item udlapp-item item-avatar">
           <div class="udlapp-category-av udlapp-category-av-cv {{buttonClassNumber(currentMessage.sitename)}}"><span>{{currentMessage.sitename.substr(0,1)}}</span></div>
           <h2>{{currentMessage.sitename}}</h2>
           <p>{{currentMessage.date | date: rb.ms_view_dateformat}}</p>
           <p>{{currentMessage.author}}</p>
       </div>
       <div class="item item-body">
           <h2>{{currentMessage.subject}}</h2>
           <p ng-bind-html="currentMessage.body | hrefToJS"  />
           <p> {{rb.ms_view_fullmessage_desc}} <a href="" ng-click="openExternalURL(currentMessage.url)"
               > {{rb.ms_view_fullmessage_link}}</a></p> 
           
       </div>
       <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#/app/messages" ng-click="deleteMessage(currentMessage)">
              <i class="icon ion-trash-b"></i>
                {{rb.ms_action_delete}}
            </a>
            <a class="tab-item" href="#/app/messages" ng-click="markAs(currentMessage,'unread')">
              <i class="icon ion-eye-disabled"></i>
                {{rb.ms_action_markunread}}
            </a>
        </div>
      </div>      
  </ion-content>
</ion-view>
