.offeredService.btn_0 .item-content{
    border-color:  #009688;
}
.offeredService.btn_1 .item-content{
    border-color:  #ff9800;
    color: #222;
}
.offeredService.btn_2 .item-content{
    border-color: #4caf50;
}
.offeredService.btn_3 .item-content{
    border-color: #03a9f4;
}
.offeredService.btn_4 .item-content{
    border-color:  #cddc39;
    color: #222;
}
.offeredService.btn_5 .item-content{
    border-color: #ffeb3b;
    color: #222;
}
.offeredService.btn_6 .item-content{
    border-color: #9c27b0;
}
.offeredService.btn_7 .item-content{
    border-color:  #e91e63;
}

.udlapp-item.offeredService{
    padding: 0px;
    border-top-width: 2px
}

.offeredService .item-content-padding-right{
    padding-right: 95px;
}

.offeredService .item-content{
    border-width: 0px 0px 0px 5px;
    border-color: #830051;
    border-style: solid;
    padding: 0px;
}

.offeredService .offeredServiceDescription{
    padding-top:10px;
    padding-left: 10px;
}

.offeredServiceInformation a{
    color: inherit;
}

.item h2.offeredServiceTitle{
    white-space: normal;
}

h2.offeredServiceTitle {
    font-size:16px;
}



.offeredServiceInformation ul{
    list-style: disc;
    margin-left: 15px;
    list-style-position: inside; 
}

.offeredServiceInformation ol{
   margin-left: 15px;
   list-style-type: decimal; 
   list-style-position: inside; 
}

.offeredServiceInformation p, .offeredServiceInformation li, .offeredServiceInformation a  {
    font-size:14px;
    color:#666;
}

.offeredServiceInformation h1, .offeredServiceInformation h2, .offeredServiceInformation h3, .offeredServiceInformation h4, .offeredServiceInformation h5, .offeredServiceInformation h6, .offeredServiceInformation * {
    color:#666;    
}

.offeredServiceInformation i{
    font-style: italic;
}

.offeredServiceInformation .iconaClock > :nth-child(1):before {
    content: "\f26e";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

.offeredServiceInformation .iconaLocation > :nth-child(1):before {
    content: "\f1ff";
    display: inline-block;
    font-family: "Ionicons";
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    margin-right: 5px;
}

.offeredServiceInformation .map{
    overflow:hidden;
    position:relative;
    overflow:hidden;
    height:120px;
    width:480px;
    resize:none;
    max-width:100%;
}

.offeredServiceInformation .iframeposition{
    border: 0;
    position: absolute;
    top: -35px;
    left: 0px;
    height: 170px;
}