<ion-modal-view>
    <ion-header-bar class="bar-stable">
        <img src="img/logo-fons-color.png" style="float:left; margin-right:10px;"/>
        <h1 class="title">{{rb.locale_select_title}}</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doChooseLocale()">
            <div class="list">
                <div class="item item-body">
                        <div ng-show="firstLocale">{{rb.locale_select_language}}</div>
                        <div ng-hide="firstLocale">{{rb.locale_change_language}}</div>
                </div>
                <label class="item item-radio" ng-repeat="locale in supportedLocales">
                    <input type="radio" name="localeGroup" ng-model="localeData.locale" value="{{locale.code}}" ng-change="loadLocale()">
                    <div class="radio-content">
                        <div class="item-content">
                            {{locale.name}}
                        </div>
                        <i class="radio-icon ion-checkmark"></i>
                    </div>
                </label>
                <label class="item">
                    <button ng-show="firstLocale" class="button button-block button-positive" type="submit">{{rb.locale_next_button}}</button>
                    <button ng-hide="firstLocale" class="button button-block button-positive" type="submit">{{rb.locale_change_button}}</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
