<ion-view class="udlapp-background" ng-init="initList()">
    <ion-nav-title>
        <i class='icon ion-ribbon-b'></i> {{rb.ag_list_activityTitle}}
    </ion-nav-title>
    <ion-content ng-show="eventsViewInitialized">
        <ion-refresher
                       pulling-text="{{pullText}}..."
                       refreshing-text="{{rb.ctrl_activities_initializing}}..."
                       on-refresh="refreshItems()">
        </ion-refresher>
        <div ng-hide="emptyActivities()">
            <ion-list>
                <a class="activityListItem item udlapp-item item-thumbnail-left" ng-repeat="event in activitiesList  | filter: { published:'true'}" href="#/app/activityevents/{{event._id}}">
                    <img  src="{{event.image}}" />  
                    <p class="title">{{event.title}}</p>
                    <p class="secondaryInformation"> <i class="icon ion-location"></i> {{event.location}}</p>
                    <p class="otherInformation"><i class="icon ion-calendar"></i> {{event.period}}</p>
                </a>
            </ion-list>
        </div>
        <div ng-show="emptyActivities()" class="udlapp-emptylist">
            <p><i class="ion-archive" ></i><br />
                <span>{{rb.ag_list_noactivities}}</span>
            </p>
        </div>
    </ion-content> 
</ion-view>