/* Empty. Add your own CSS if you like */

.udlapp-background {
   //background: url(../img/back-halos.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.udlapp-item {
    margin: 6px;
    opacity: 0.90;
    border-radius: 5px;
}
    
.udlapp-item .newsCounter, .udlapp-item .newsMark {
    float: right;
    right: -25px;
    position: relative;
    font-size: 0.9em;
    background-color: #EC2B2B;
    color: #FFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 3px;
}

.udlapp-item .newsMark {
    width: 10px;
    height: 10px; 
    top: 5px;
}

.udlapp .left-buttons .notification {
    width: 10px;
    height: 10px;
    background-color: #EC2B2B;
    border-radius: 100%;
    position: relative;
    left: -10px;
    /* top: 20px; */
}

.udlapp-item h2 {
    display:block;
    font-size: 1.1em;
}


.udlapp-item h2.new, .udlapp-item h2.unread {
    font-weight: bolder
}

.udlapp-item p.secondaryInformation {
    text-transform: uppercase;
}

.udlapp-item p {
    white-space: pre-line;
}

.udlapp-item p.otherInformation{
    font-size: 0.9em;
}

.udlapp-item p.title{
    display:block;
    font-size: 1.1em;
    margin-bottom: 0.5em; 
}


.udlapp .bar{
    background: none;
    color: rgb(208, 7, 133);
    border 0px;
}

.udlapp .bar.bar-stable{
    background: none;
    border: none;
}

.udlapp .bar.bar-stable .title{
    color: #830051;
}

.udlapp .menu .bar.bar-stable .title{
    color: #FFF;
}

.udlapp .menu-left{
    
background: rgba(176,0,111,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(176,0,111,1)), color-stop(100%, rgba(131,0,81,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: radial-gradient(ellipse at center, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0006f', endColorstr='#830051', GradientType=1 );

}

.udlapp .menu-left .udl-menu-footer{
    height: auto;   
}

.udlapp .menu-left .udl-menu-footer ion-list{
    width:100%;   
}

.udlapp .menu-left .udl-menu-footer ion-list .item-content{
    background: none;
    color: #FFF;
}

.udlapp .menu-left .udl-menu-footer ion-list .item{
    background: none;
    color: #FFF;
}



.udlapp .udlapp-category-av{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 3em;
    height: 3em;
    text-align: center;
    border: 1px solid: #ccc;
    border-radius: 50%;
    line-height: 3em;
}

.udlapp .udlapp-category-av.new, .udlapp .udlapp-category-av.unread{
    border: 3px solid #3aaaa1;
}

.udlapp .udlapp-category-av span{
    font-size: 1.7em;
    color: #FFF;
    display: block;
    text-transform: capitalize;
}
    
.udlapp .udlapp-category-av.btn_0 {
    background:  #009688;
}
.udlapp .udlapp-category-av.btn_1 {
    background:  #ff9800;
    color: #222;
}
.udlapp .udlapp-category-av.btn_2{
    background: #4caf50;
}
.udlapp .udlapp-category-av.btn_3{
    background: #03a9f4;
}
.udlapp .udlapp-category-av.btn_4 {
    background:  #cddc39;
    color: #222;
}
.udlapp .udlapp-category-av.btn_5{
    background: #ffeb3b;
    color: #222;
}
.udlapp .udlapp-category-av.btn_6{
    background: #9c27b0;
}
.udlapp .udlapp-category-av.btn_7 {
    background:  #e91e63;
}
.udlapp .udlapp-category-av.btn_8{
    background: #795548;
}
.udlapp .udlapp-category-av.btn_9{
    background: #00bcd4;
}

.udlapp .udlapp-options-menu .popup-buttons{
    position: relative;
    width: 100%;
    text-align: center;
    display: block;
}

.udlapp .udlapp-options-menu button {
    width: 90%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.udlapp .udlapp-options-menu button:last-child {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.udlapp .udlapp-inlist-message-option {
       min-width: 64px;
}

.udlapp-undobar {
    height: 65px;
}

.udlapp-undobar.bar button.button{
    width: 100%;
    font-size: 1.2em;
    opacity: 0.90;  
    height: 65px;
}

.udlapp-undobar.animated{
    transition: 0.5s linear all;   
    opacity: 1;
}

.udlapp-undobar.animated.ng-hide{
    opacity: 0;
}

.udlapp-undobar.animated.ng-hide-add, .udlapp-undobar.animated.ng-hide-remove {
    display: block !important;
    height: 65px;
}

.udlapp .udlapp-emptymessages{
    width: 100%;
    position: absolute;
    top: 60px;
ï¿¼    font-size: 1.5em;
    text-align: center;
}

.udlapp .udlapp-emptymessages p{
    width:100%;
    text-align: center;
    color: #D5D1D3;
}

.udlapp .udlapp-emptymessages p i{
    font-size: 2.5em;
}

.udlapp .udlapp-emptymessages p span{
    font-size: 1.5em;
}
.udlapp .bar-udl{
    background: #830051;
}
.udlapp .bar-udl h1{
    color: #fff;
}

.button.button-udl.button-outline{
    border-color: #830051;
    background: transparent;
    color: #830051;
}
button.button-alert-message{
    text-align: justify;
}
