/* Empty. Add your own CSS if you like */

.udlapp-background{
   //background: url(../img/back-halos.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.udlapp-item{
    margin: 6px;
    opacity: 0.90;
    border-radius: 5px;
    
/*background: rgba(237,237,237,1);
background: -moz-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,237,237,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(top, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
background: linear-gradient(to bottom, rgba(237,237,237,1) 0%, rgba(246,246,246,1) 47%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff', GradientType=0 );*/

}
.udlapp-item h2{
    font-size: 1.2em;
}

.udlapp-item h2.new{
    font-weight: bolder
}
.udlapp .bar{
    background: none;
    color: rgb(208, 7, 133);
    border 0px;
}

.udlapp .bar.bar-stable{
    background: none;
    border: none;
}

.udlapp .bar.bar-stable .title{
    color: #830051;
}

.udlapp .menu .bar.bar-stable .title{
    color: #FFF;
}

.udlapp .menu-left{
    
background: rgba(176,0,111,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(176,0,111,1)), color-stop(100%, rgba(131,0,81,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: radial-gradient(ellipse at center, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0006f', endColorstr='#830051', GradientType=1 );

}

.udlapp .udlapp-category-av{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid: #ccc;
    border-radius: 50%;
}

.udlapp .udlapp-category-av.new{
    border: 3px solid #3aaaa1;
}
.udlapp .udlapp-category-av span{
    position: absolute;
    font-size: 1.8em;
    color: #FFF;
    top:26px;
    left:23px;
}
    
.udlapp .udlapp-category-av.udlapp-category-av-cv{
   
background: rgba(176,0,111,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(176,0,111,1)), color-stop(100%, rgba(131,0,81,1)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
background: radial-gradient(ellipse at center, rgba(176,0,111,1) 0%, rgba(131,0,81,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0006f', endColorstr='#830051', GradientType=1 );

}
